
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App {
  display: flex;
  flex-direction: row;
}

.InteractionBar {
  width: 20%;
  background-color: rgb(237, 233, 233);
  height:100vh;
  display:flex;
  flex-direction: column;
  border-radius: 25px;
  margin:10px;
}

.Map {
  width: 80%;
}

.PathInput{
  margin-top:2%;
  margin-left:3%;
  margin-right:3%;
  height:10%;
  background-color: #c7cacf;
  border-radius: 25px;
  border:0.5vw solid #c7cacf
}

.DirectionContainer{
  margin-top:2%;
  margin-bottom: 2%;
  margin-left:3%;
  margin-right:3%;
  height:90%;
  background-color: #c7cacf;
  border-radius: 25px;
  border:0.5vw solid #c7cacf;
  overflow: auto;
}

.TunnelDirection{
  margin-top:2%;
  margin-left:3%;
  margin-right:3%;
  height:10%;
  background-color: maroon;
  border-radius: 25px;
  border:0.5vw solid maroon;
  text-align:center;
}


.AboveGroundConnectionDirection{
  margin-top:2%;
  margin-left:3%;
  margin-right:3%;
  height:10%;
  background-color: rgb(187, 148, 9);
  border-radius: 25px;
  border:0.5vw solid rgb(187, 148, 9);
  text-align:center;
}

.InvalidRoute{
  margin-top:2%;
  margin-left:3%;
  margin-right:3%;
  height:10%;
  background-color: lightgray;
  border-radius: 25px;
  border:0.5vw solid lightgray;
  text-align:center;
}

.DirectionBody{
  color:rgb(118, 116, 116);
  font-size:12px;
  line-height: normal;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
